footer {
  width: $sitewidth;
  height: 100px;
  background-color: $siteblue;
  margin: 0 auto;

  .footer-content {
    max-width: $contentwidth;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 35px;

    .logo {
      width: 92px;
      height: 42px;
      background-image: url(../images/logo/logo-white.png);
    }

    .footer-text {
      font-size: 12px;
      color: $sitewhite;
      font-family: Gils;
    }

    .footericons {
      width: 100px;
      height: 22px;
      //   background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        font-size: 25px;
        color: $sitewhite;
      }
    }
  }
}
