$center: 0 auto;

// this area is for widths and heights
$contentwidth: 980px;
$sitewidth: 1280px;
$bannerheight: 500px;
$footerheight: 100px;
$homeformwidth: 818px;

// this is for site colors
$siteblue: #79addc;
$sitewhite: white;
$siteblack: black;

// this area is for buttons
